body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  background: #002d5c;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.controls {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.quay-container {
  position: relative;
  background: #f0f0f0;
  overflow: hidden;
  width: 100%;
}

.vessel {
  position: absolute;
  background-color: #0066cc;
  border: 2px solid #003366;
  color: white;
  padding: 2px;
  box-sizing: border-box;
  z-index: 10;
}

.vessel-label {
  font-size: 12px;
  padding: 2px;
  position: absolute
}

.vessel-work {
  position: relative;
  background-color: #00cc66;
  width: 100%;
}



.zoom-controls {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.zoom-controls label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}















.layout {
  display: flex;
  align-items: stretch;
}

.time-labels {
    display: flex;
    flex-direction: row;
    width: 47px !important;
    min-width: 47px;
    max-width: 47px;
    justify-content: center;
}

.days-column,
.hours-column {
  display: flex;
  flex-direction: column;
  /*font-size: 12px;
  text-align: right;
  padding-right: 4px;*/
}

.day-label {
    border-bottom: 1px solid #ccc;
    display: flex
;
    align-items: center;
    background: #788695;
    color: white;
    /*padding: 0 4px;*/
    justify-content: center;
    text-align: center;
}

.hour-label {
  height: 20px !important;
  border-bottom: 1px dashed #eee;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 8px;
}