<div class="header">
    <h1>{{ appName }}</h1>
    <div class="controls">
    
    <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    @if (range.controls.start.hasError('matStartDateInvalid')) {
        <mat-error>Invalid start date</mat-error>
    }
    @if (range.controls.end.hasError('matEndDateInvalid')) {
        <mat-error>Invalid end date</mat-error>
    }



    </mat-form-field>

    <button matFab extended (click)="onSyncClick()">
        <mat-icon>sync</mat-icon>
        Load
    </button>
  </div>

  <div class="zoom-controls">
  <label>
    Zoom Vertical (px/hora): 
    <input type="range" min="5" max="60" [value]="ratioPixelHora" (input)="onZoomVerticalChange($event)">
    {{ ratioPixelHora }} px/h
  </label>

  <label>
    Zoom Horizontal (% escala): 
    <input type="range" min="50" max="200" [value]="zoomPercent" (input)="onZoomHorizontalChange($event)">
    {{ zoomPercent }} %
  </label>
</div>
</div>


<div class="layout flex quay-top" style="background-color: #788695;">
  <div style="width: 47px;"></div>
  <div class="noray-bar" style="position: relative; height: 24px; width: 100%;">
    <div *ngFor="let noray of norays" [ngStyle]="getNorayStyle(noray)">
      <div style="position:relative; bottom: 6px; white-space: nowrap;">
        <!--{{ noray.name }}-->
         <svg width="30" height="30" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <!-- Forma del noray con parte inferior más redondeada -->
          <path d="M 30 30 
                  L 70 30 
                  A 20 20 0 0 1 90 50 
                  Q 70 90 50 90 
                  Q 30 90 10 50 
                  A 20 20 0 0 1 30 30 
                  Z" 
                fill="gold" stroke="dimgray" stroke-width="5" />
          <!-- Texto en el centro -->
          <text x="50" y="55" font-size="30" text-anchor="middle" fill="black" font-family="Arial" dominant-baseline="middle">{{noray.name}}</text>
        </svg>
        
      </div>
    </div>
  </div>

</div>

<div class="layout flex">
  <!-- Etiquetas a la izquierda -->
  <div class="time-labels flex flex-col">
    <div class="days-column" [style.height.px]="quayPanelHeight"> <!-- [style.height.px]="quayPanelHeight"-->
      @for (day of days; track $index) {
        <div class="day-label" [style.height.px]="ratioPixelHora * 24" >
            {{ day | date: 'dd' }}<br>
            {{ day | date: 'MMM' }}
          </div>
      }
      
    </div>
    <div class="hours-column" >
      @for (day of days; track $index) { <!-- [style.height.px]="quayPanelHeight"-->
        <div *ngFor="let hour of hours" class="hour-label" [style.height.px]="ratioPixelHora">
        {{ hour }}
      </div>
      }
    </div>
  </div>




  <!-- Contenedor del muelle y barcos -->
<div class="quay-container" [style.height.px]="quayPanelHeight" >
  @for (v of vessels; track v.id) {
    <div class="vessel"
    [style.left.%]="v.vslLeftPercent"
    [style.width.%]="v.vslWidthPercent"
    [style.top.%]="v.vslTopPercent"
    [style.height.%]="v.vslHeightPercent" cdkDrag (cdkDragStarted)="onDragStarted($event, v)" (cdkDragEnded)="onDragEnded($event, v)">
      <div class="vessel-label">{{ v.name }}</div>
      <div class="vessel-work" [style.top.%]="v.secondaryTopPercent" [style.height.%]="v.secondaryHeightPercent" >
          {{ v.tb | date : 'HH:mm'}}<br>
          {{v.tw | date : 'HH:mm'}}<br>
          {{v.tc | date : 'HH:mm'}}<br>
          {{v.td | date : 'HH:mm'}}
          
      </div>
    </div>
  }
</div>

</div>


<!--<div class="grid grid-cols-12 grid-rows-6 gap-1">
    <div class="col-span-7">1</div>
    <div class="col-span-2 col-start-8">2</div>
    <div class="col-span-3 row-span-2 col-start-10">3</div>
    <div class="col-span-6 row-start-2">5</div>
    <div class="col-span-3 col-start-7 row-start-2">6</div>
    <div class="row-span-4 row-start-3">7</div>
    <div class="col-span-11 row-start-3">8</div>
    <div class="col-span-11 col-start-2 row-start-4">9</div>
    <div class="col-span-11 col-start-2 row-start-5">10</div>
    <div class="col-span-11 col-start-2 row-start-6">11</div>
</div>-->
